body {
    margin: 0;
    padding: 0;
    background-color: #F6F4F1;
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* Change to row layout for desktop screens */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Horizontal layout for desktop */
        justify-content: center; /* Center items horizontally */
        flex-wrap: wrap; /* Allows items to wrap if needed */
    }
    .logo {
        margin-right: 20px; /* Space after logo */
        margin-bottom: 0; /* Remove bottom margin on desktop */
    }
    .link-button, .social-button {
        margin: 10px; /* Adjust margin for better spacing */
    }
}

.link-button {
    display: block;
    background-color: #C5B8AC;
    color: #000000;
    padding: 10px 20px;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.social-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    /* Adjust the background color if needed */
}

.social-icon {
    width: 30px; /* Default size */
    height: auto;
    display: block;
}

/* Adjust size for mobile screens */
@media (max-width: 768px) {
    .social-icon {
        width: 20px; /* Smaller size for mobile */
    }
}
